<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <h1>Plan your Day !</h1>
    <%- include('./partials/script') %>
</body>
</html>